/* Coolors Exported Palette - coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */
/* RGB */
$color1: rgba(13, 27, 42, 1);
$color2: rgba(27, 38, 59, 1);
$color3: rgba(65, 90, 119, 1);
$color4: rgba(119, 141, 169, 1);
$color5: rgba(224, 225, 221, 1);
