/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-no-fee-guarantee-name: 'icon-no-fee-guarantee';
$icon-no-fee-guarantee-x: 0px;
$icon-no-fee-guarantee-y: 53px;
$icon-no-fee-guarantee-offset-x: 0px;
$icon-no-fee-guarantee-offset-y: -53px;
$icon-no-fee-guarantee-width: 52px;
$icon-no-fee-guarantee-height: 51px;
$icon-no-fee-guarantee-total-width: 104px;
$icon-no-fee-guarantee-total-height: 104px;
$icon-no-fee-guarantee-image: '/static/images/sprites/usp.png';
$icon-no-fee-guarantee: (0px, 53px, 0px, -53px, 52px, 51px, 104px, 104px, '/static/images/sprites/usp.png', 'icon-no-fee-guarantee', );
$icon-sunny-flexipay-name: 'icon-sunny-flexipay';
$icon-sunny-flexipay-x: 52px;
$icon-sunny-flexipay-y: 0px;
$icon-sunny-flexipay-offset-x: -52px;
$icon-sunny-flexipay-offset-y: 0px;
$icon-sunny-flexipay-width: 52px;
$icon-sunny-flexipay-height: 52px;
$icon-sunny-flexipay-total-width: 104px;
$icon-sunny-flexipay-total-height: 104px;
$icon-sunny-flexipay-image: '/static/images/sprites/usp.png';
$icon-sunny-flexipay: (52px, 0px, -52px, 0px, 52px, 52px, 104px, 104px, '/static/images/sprites/usp.png', 'icon-sunny-flexipay', );
$icon-sunny-rates-name: 'icon-sunny-rates';
$icon-sunny-rates-x: 0px;
$icon-sunny-rates-y: 0px;
$icon-sunny-rates-offset-x: 0px;
$icon-sunny-rates-offset-y: 0px;
$icon-sunny-rates-width: 52px;
$icon-sunny-rates-height: 53px;
$icon-sunny-rates-total-width: 104px;
$icon-sunny-rates-total-height: 104px;
$icon-sunny-rates-image: '/static/images/sprites/usp.png';
$icon-sunny-rates: (0px, 0px, 0px, 0px, 52px, 53px, 104px, 104px, '/static/images/sprites/usp.png', 'icon-sunny-rates', );
$spritesheet-width: 104px;
$spritesheet-height: 104px;
$spritesheet-image: '/static/images/sprites/usp.png';
$spritesheet-sprites: ($icon-no-fee-guarantee, $icon-sunny-flexipay, $icon-sunny-rates, );
$spritesheet: (104px, 104px, '/static/images/sprites/usp.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
